services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "127.0.0.1:${SUVE_LOCALSTACK_EXTERNAL_PORT:-4566}:4566/tcp"
    environment:
      - SERVICES=ssm
      - DEBUG=0
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://localhost:4566/_localstack/health"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 15s
